<%- include("partials/header") %>

<h1> <%= webseries.name %> </h1>

<img src="<%= webseries.image %>">

<p><%= webseries.description %></p>

<% webseries.comments.forEach(function(comment){ %>
    <p>
       <strong> <%= comment.author %> </strong>
       - <%= comment.text %>
    </p>
<% }) %>

<%- include("partials/footer") %>