<%- include("../partials/header") %>
    
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1> Welcome to WSReview! </h1>
            <p> View my hand-picked webseries </p>
            <p>
                <a class="btn btn-primary btn-large" href="/webseries/new"> Add new Webseries </a>
            </p>
        </div>
    </header>

    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% webseries.forEach(function(webseries){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail" id="ws-thumb">
                    <img src="<%= webseries.image %>">
                    <div class="caption">
                        <h4><%= webseries.name %></h4>
                    </div>
                    <p>
                        <a href="/webseries/<%= webseries._id %>" class="btn btn-primary"> More Info </a>
                    </p>
                </div>
    
            </div>
        <% }); %>
    </div>

</div>

<%- include("../partials/footer") %>